<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BINPopViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBBB521C1BF9A959007021F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBBB52351BF9A959007021F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBBB52401BF9A959007021F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
